.waiter {
    content: url('../images/waiter.png');
    position: absolute;
    width: 70px;
    right: 20px;
    top: -85px;
}

.calendar-section {
    width: 100%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-main-block {
    margin-top: 150px;
    min-width: 320px;
    width: 80%;
    height: 90%;

    position: relative;

    padding: 20px 40px;
    box-sizing: border-box;
}

.calendar-block {
    position: relative;
    height: 100%;
}

.calendar--times {
    overflow-y: auto;
    height: calc(100% - 24px);
    display: grid;
    place-items: center;
}

.calendar--times-rows {
    height: 100%;
    width: 100%;
    grid-area: 1 / 1;
}

/*  */

.calendar--row {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 44px;

    border-top: 1.2px solid rgba(255, 255, 255, 0.493);
}

.calendar--row > h6 {
    font-size: 12px;
    width: 55px;
    height: 100%;
    color: rgba(0, 0, 0, 0.541);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.calendar--row > hr {
    width: 100%;
    height: 1px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.493);
}

/*  */

.calendar--times-columns {
    grid-area: 1 / 1;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

.calendar--times-columns > .time-column {
    height: 100%;
    min-width: 55px;
}

.calendar--times-columns > .day-column {
    height: 100%;
    width: 100%;
    position: relative;
}

.calendar--times-columns > hr {
    height: 100%;
    width: 1.2px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.493);
}

/*  */

.calendar--days {
    width: 100%;
    height: fit-content;
    border-bottom: 1.3px solid rgba(255, 255, 255, 0.599);
    padding-left: 55px;
    padding-right: 8px;
    box-sizing: border-box;
    display: flex;
}

.day-number {
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 5px 0px;
}



@media(max-width: 697px) {
    .calendar--times {
        height: calc(100% - 52px);
    }
}

/* --------------------------- */
/* Задачи */

.cal-task-block {
    top: 100px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.212);

    padding: 10px;
    position: absolute;
    left: 0px;
    width: 100%;
    margin: 2px;
    box-sizing: border-box;
    cursor: all-scroll;
    border-radius: 7px;
}

.cal-task-hidden {
    visibility: hidden; /* блок «пропадает», но не ломает расчёты */
}

.cal-task-ghost {
    opacity: 0.8;
    pointer-events: none; /* чтобы не мешал кликам/elementFromPoint */
    z-index: 1000;
}

.cal-task-shadow {
    background-color: rgba(200, 200, 200, 0.3); /* серая тень под курсором */
    border: 1px dashed rgba(255, 255, 255, 0.6);
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.cal-task-info {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.cal-task-status {
    border: none;
    outline: none;
    min-width: 3px;
    height: 100%;
    border-radius: 4px;

    background-color: #fff;
}

.cal-task-name-n-time {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cal-task-name {
    font-size: 1em;
    display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 2.4em;
}

.cal-task-time {
    font-size: 10px;
    line-height: 1;    
}

.cal-task-time::before {
    content: url('../../common/svgs/oclock.svg');
    display: inline-block;
    vertical-align: middle;
}