.right_panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.block {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 40px;
    background: rgba(156, 156, 156, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_text {
    max-width: 80%;
    width: 79%;
    color: rgb(70, 70, 70);
    text-align: center;
}

h2 {
    font-size: 60px;
    color: rgb(70, 70, 70);
}
