.view_task_section {
    position: absolute;
    top: 0px;
    right: 0px;

    transition: all 1s ease;
}

.task_view_main_block {
    width: 660px;
    min-height: 400px;
    height: 100vh;
    max-height: 100vh;
    padding-left: 25px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
}

.task-view--up-bar {
    width: 100%;
    height: fit-content;
    height: 20px;
    margin-top: 10px;
}

.task-view--settings, .task-view--main-info, .task-view--other-parameters {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.task-view--settings {
    gap: 5px;
}

.task-view--settings--overlay {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.settings-title {
    width: 100%;
    color: rgb(85, 85, 85);
    font-size: 12px;
    overflow: hidden;
}

.setting-title {
    width: 100%;
    color: rgb(85, 85, 85);
    font-size: 20px;
    overflow: hidden;
}

.task-view--main-info {
    padding-right: 25px;
    box-sizing: border-box;
    gap: 5px;
}

.main-ingo-title, .task-view--other-parameters {
    font-size: 24px;
    color: #373738;
}

.task-view--other-parameters {
    gap: 5px;
}

.set_start_day, .set_end_day, .status, .sprint, .tags {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.other_parameters_text {
    font-size: 14px;
    width: 140px;
}

/* ---------------------------- */

.task-title-block {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 5px 9px;
    display: flex;
    align-items: start;
}

.task-title {
    font-size: 20px;
    color: #373738;
    width: 100%;
}

.parameter-title {
    font-size: 12px;
    color: #373738;
}

.parameters-items {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 70%;
}

.subtitle {
    font-size: 20px;
    color: #373738;
}

.subtask-items {
    width: 100%;
    margin-top: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.task_subtask_title {
    margin-left: 5px;
    font-size: 16px;
    color: #373738;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Коментраии и истории */
/* -------------------- */

.comment-history-section{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.comment-history-tabs{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    position: relative;
}

#comment-tab, #history-tab {
    font-size: 18px;
    cursor: pointer;
    color: #373738;
}

#tab-indicator {
    border: none;
    outline: none;
    width: 100px;
    height: 3px;
    background-color: #8b93cfc0;
    position: absolute;
    bottom: -2px;
    transition: all .5s ease;
    left: 0px;
}

.comment-section {
    margin: 10px 0px;
    margin-right: 15px;
}

.comment-field-block {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 7px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

/* Блок с текстом коммента */

.comments-list > .user-comment-block:nth-child(even) {
    background-color: #FFFFFF28;
}

.user-comment-block {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: top ;

    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.user-photo {
    height: 100%;
    width: 40px;
    margin: 0px 10px 10px 0px;
}

.user-comment {

}

.user-comment-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.user-comment-name {
    font-size: 16px;
}

.user-comment-date {
    font-size: 14px;
    color: #212122;
}

.user-comment-text {
    margin-top: 8px;
    font-size: 14px;
}

