<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="../static/first_app/css/comon.css">
    <link rel="stylesheet" href="../static/first_app/css/canban.css">
    <link rel="stylesheet" href="../static/first_app/css/view_task.css">

    <link rel="stylesheet" href="../static/quill/css/atom-one-dark.min.css">
    <link rel="stylesheet" href="../static/quill/css/quill.css">
    <script src="../static/quill/js/highlight.min.js"></script> 
    <script src="../static/quill/js/quill.js"></script>
    <script src="../static/first_app/js/select.js"></script>
    <script src="../static/common/js/copy.js"></script>
</head>
<body>
    <section class="main_section">
        <div class="left_panel glass-block">
            <div class="image"></div>

            <div class="navigation">
                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Сферы жизни</h1>
                </div>

                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Расписание на неделю</h1>
                </div>

                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Все задания</h1>
                </div>

                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Активновсти</h1>
                </div>
            </div>
        </div>

        <div class="right_panel glass-block">
            <div class="bottom_buttons">
                <input type="text" class="search glass-block" placeholder="Поиск по названию">
                
                <div class="add_task glass-block">
                    <h1 class="canban_text">Добавить задачу</h1>
                </div>

            </div>
            
            <div class="conban-column">
                <div class="conban-board">
                    <div class="column">
                        <div class="column_title">
                            <h1 class="canban_text">Новое</h1>
                        </div>
                        <hr>
                        <div class="colomn_task_block">
                            <div class="task glass-block">
                                <h1 class="name task_text">Название</h1>
                                <h1 class="discription task_text">Какое-то очень длинное и информативное описание бла бла бла бла бла бла</h1>
                                <hr>
                                <div class="subtask">
                                    <input type="checkbox" class="glass-input-checkbox" name="" id="">
                                    <h1 class="subtask_title task_text">Подзадача</h1>
                                </div>
                                <div class="subtask">
                                    <input type="checkbox" class="glass-input-checkbox" name="" id="">
                                    <h1 class="subtask_title task_text">Подзадача с каким-то очень длинным текстом не на одну строчку</h1>
                                </div>
                                <hr>
                                <h1 class="deadline task_text">Срок: 31.12.2025 17:55</h1>
                                <div class="tegs">
                                    <div class="teg glass-block">
                                        <h1 class="tegs_text task_text">Важное</h1>
                                    </div>
                                    <div class="teg glass-block">
                                        <h1 class="tegs_text task_text">Быстрое</h1>
                                    </div>
                                    <div class="teg glass-block">
                                        <h1 class="tegs_text task_text">Семейное</h1>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                    </div>

                    <div class="add_category">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="view_task_section" style="display: none;">
        <div class="task_view_main_block glass-block">
            <div class="task-view--up-bar"></div>
            <hr>
            <div class="task-view--settings">
                <div class="task-view--settings--overlay">
                    <input type="checkbox" class="glass-input-checkbox" name="" id="">
                    <h1 class="settings-title task_text">Подзадача с каким-то очень длинным текстом не на одну строчку</h1>
                </div>
            </div>
            <div class="task-view--main-info">
                <h1 class="main-ingo-title">Основное</h1>
                <input type="text" placeholder="Введите Название задачи..." class="glass-input-text small-border max-width">
                <div class="glass_input_texture">
                    <div class="main-info-discription"></div>
                </div>                   
            </div>
            <hr>
            <div class="task-view--other-parameters">
                <h1 class="setting-title task_text">Параметры</h1>
                <div class="set_start_day">
                    <h6 class="other_parameters_text">Начало выполнения</h6>
                    <input type="datetime-local" name="" id="set_start_day" class="glass-input-daytime">
                </div>
                <div class="set_end_day">
                    <h6 class="other_parameters_text">Конец выполнения</h6>
                    <input type="datetime-local" name="" id="set_end_day" class="glass-input-daytime">
                </div>
                
                <div class="sphere-select" id=""></div>

                <div class="importsnce-select" id=""></div>
                
                <div class="status-select" id=""></div>

                <div class="subtask-select" id=""></div>

                <div class="sprint-select" id=""></div>

                <div class="tags-select" id=""></div>
            </div>
        </div>

        <script type="text/javascript">
            const toolbar = [
                [{ header: [1, 2, 3, 4, false] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ list: 'ordered' }, { list: 'bullet' }],
                ['link', 'blockquote', 'code-block'],
                [{ align: [] }],
                ['image'] // Добавляем кнопку для вставки картинок
            ];

            const quill = new Quill('.main-info-discription', {
                theme: 'snow', 
                modules: { 
                    toolbar: {
                        container: toolbar,
                        handlers: {
                            image: () => this.handleImageUpload()
                        }
                    },
                    imageResize: typeof window.ImageResize !== 'undefined' ? {
                        parchment: window.Quill.import('parchment'),
                        modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
                    } : undefined
                }
            });
        </script>
    </section>

    <section class="view_task_section">
        <div class="task_view_main_block glass-block">
            <div class="task-view--up-bar"></div>
            <hr>
            <div class="task-view--settings">
                <div class="task-view--settings--overlay">
                    <h2 class="settings-title task_text">Подзадача с каким-то очень длинным текстом не на одну строчку</h2>
                </div>
            </div>
            <div class="task-view--main-info">
                <h1 class="main-ingo-title">Основное</h1>
                <div class="task-title-block">
                    <h2 class="task-title">Задача на разработку дизайна для новой системы управления тайменеджментом</h2>
                    <div class="copy-button" onclick="copy_text(this)">
                        <img src="../static/first_app/images/copy.svg" alt="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="task-view--other-parameters">
                <h1 class="settings-title task_text">Параметры</h1>
                <div class="set_start_day">
                    <h6 class="other_parameters_text">Начало выполнения</h6>
                    <h6 class="parameter-title">26.07.2025 11:00</h6>
                </div>
                <div class="set_end_day">
                    <h6 class="other_parameters_text">Конец выполнения</h6>
                    <h6 class="parameter-title">26.07.2025 14:00</h6>
                </div>
                <div class="status">
                    <h6 class="other_parameters_text">Статус</h6>
                    <div class="parameters-items">
                        <div class="glass-select-selected-item glass-block">
                            <h6>Новове</h6>
                        </div>
                    </div>
                </div>
                <div class="sprint">
                    <h6 class="other_parameters_text">Спринт</h6>
                    <h6 class="parameter-title">Вторая половина июля / 15.07.2025-31.07.2025</h6>
                </div>
                <div class="tags">
                    <h6 class="other_parameters_text">Тэги</h6>
                    <div class="parameters-items">
                        <div class="glass-select-selected-item glass-block">
                            <h6>Новове</h6>
                        </div>
                    </div>
                </div>

                <div class="subtasks-block">
                    <h1 class="subtitle">Подзадачи</h1>
                    <div class="subtask-items">
                        <div class="subtask">
                            <input type="checkbox" class="glass-input-checkbox" name="" id="">
                            <h6 class="task_subtask_title task_text">Подзадача</h6>
                        </div>
                        <div class="subtask">
                            <input type="checkbox" class="glass-input-checkbox" name="" id="">
                            <h6 class="task_subtask_title task_text">Подзадача с каким-то очень длинным текстом не на одну строчку</h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="comment-history-section">
                <div class="comment-history-tabs">
                    <h1 id="comment-tab" class="active" onclick='show_section(this)'>Коментраии</h1>
                    <h1 id="history-tab" onclick='show_section(this)'>История</h1>
                    <hr id="tab-indicator">
                </div>
                <hr>
                <div class="tab-section comment-section">
                    <div class="comment-field-block">
                        <div class="glass_input_texture">
                            <div class="comment-field"></div>
                        </div>
                        <input type="button" value="Отправить" class="glass-input-button small-border">

                        <div class="comments-list">
                            <div class="user-comment-block">
                                <div class="user-photo">
                                    <div class="image-small image"></div>
                                </div>
                                <div class="user-comment">
                                    <div class="user-comment-title">
                                        <div class="user-comment-name">Тимофей Шкрабляк</div>
                                        <div class="user-comment-date">26.07.2025 19:57</div>
                                    </div>
                                    <div class="user-comment-text">Прочитала статью — всё чётко и понятно изложено! Спасибо автору за полезную информацию. Теперь буду применять полученные знания на практике.</div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            // const toolbar = [
                            //     [{ header: [1, 2, 3, 4, false] }],
                            //     ['bold', 'italic', 'underline', 'strike'],
                            //     [{ list: 'ordered' }, { list: 'bullet' }],
                            //     ['link', 'blockquote', 'code-block'],
                            //     [{ align: [] }],
                            //     ['image'] // Добавляем кнопку для вставки картинок
                            // ];

                            const commentTextField = new Quill('.comment-field', {
                                theme: 'snow', 
                                modules: { 
                                    toolbar: {
                                        container: toolbar,
                                        handlers: {
                                            image: () => this.handleImageUpload()
                                        }
                                    },
                                    imageResize: typeof window.ImageResize !== 'undefined' ? {
                                        parchment: window.Quill.import('parchment'),
                                        modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
                                    } : undefined
                                }
                            });
                        </script>   
                    </div>
                    <div class=""></div>
                </div>
                <div class="tab-section history-section hide"></div>
            </div>
        </div>

    </section>
    
    <script type="text/javascript">
        var tabIndicator = document.getElementById('tab-indicator');

        function show_section(element) {
            let idName = element.id.split('-')[0];
            let tabsBlock = element.parentNode;

            tabsBlock.querySelectorAll('h1')
                .forEach(h => h.classList.toggle('active', h === element));

            const sectionSelectors = Array.from(tabsBlock.querySelectorAll('h1'))
                .map(h => '.' + h.id.split('-')[0] + '-section')
                .join(',');
            document.querySelectorAll(sectionSelectors).forEach(sec => {
                sec.style.display = sec.classList.contains(idName + '-section') ? '' : 'none';
            });

            const p = tabsBlock.getBoundingClientRect();
            const r = element.getBoundingClientRect();
            tabIndicator.style.left  = (r.left - p.left) + 'px';
            tabIndicator.style.top   = (r.top  - p.top + r.height) + 'px';
            tabIndicator.style.width = r.width + 'px';

            let sections = document.getElementsByClassName('tab-section');
            for (let i = 0; i < sections.length; i++) {
                if (sections[i].classList.contains(`${idName}-section`)) {
                    sections[i].classList.remove('hide');
                }
                else {
                    sections[i].classList.add('hide');
                }
            }
        }
    </script>

    <script type="text/javascript">
        const tags_mock = [
            {
                id: 1,
                name: 'Дом'
            },
            {
                id: 2,
                name: 'Школа'
            },
            {
                id: 3,
                name: 'Какой-то тэг'
            },
            {
                id: 4,
                name: 'Ещё один тэг'
            },
            {
                id: 5,
                name: 'Просто тэг'
            },
            {
                id: 6,
                name: 'Просто тэг 2'
            },
            {
                id: 7,
                name: 'Просто тэг 3'
            },
            {
                id: 8,
                name: 'Просто тэг 4 '
            },
            {
                id: 9,
                name: 'Просто тэг, нет'
            },
        ];

        var sphere = initGlassSelect({
            items: tags_mock,
            selector: '.sphere-select',
            title: 'Сфера',
        });
        var importsnce = initGlassSelect({
            items: tags_mock,
            selector: '.importsnce-select',
            title: 'Важность',
        });
        var status = initGlassSelect({
            items: tags_mock,
            selector: '.status-select',
            title: 'Статус',
        });
        var subtask = initGlassSelect({
            items: tags_mock,
            selector: '.subtask-select',
            title: 'Подзадачи',
        });
        var sprint = initGlassSelect({
            items: tags_mock,
            selector: '.sprint-select',
            title: 'Спринты',
        });
        var tags = initGlassSelect({
            items: tags_mock,
            selector: '.tags-select',
            title: 'Тэги',
        });

        function get_select_data() {
            console.log(sphere.values);
        }
    </script>
</body>
</html>