{% load static %}


<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="../static/first_app/css/index.css">
    <link rel="stylesheet" href="../static/first_app/css/comon.css">
    <script src="{% static 'common/js/request.js' %}"></script>

    {% block links_block %}
    {% endblock %}

    {% block scripts_block %}
    {% endblock %}
</head>
<body>
    {% csrf_token %}
    <section class="main_section">
        <div class="left_panel glass-block">
            <div class="image"></div>

            <div class="navigation">
                <div class="navigation_button glass-block">
                    <a href="/" class="smaller_text">Сферы жизни</a>
                </div>

                <div class="navigation_button glass-block">
                    <a href="/calendar/" class="smaller_text">Календарь</a>
                </div>

                <div class="navigation_button glass-block">
                    <a href="/canban/" class="smaller_text">Канбан доска</a>
                </div>

                <div class="navigation_button glass-block">
                    <a href="#" class="smaller_text">Активновсти</a>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </section>

    <section class="view_task_section" style="display: none;"></section>

    {% block sections_block %}
    {% endblock %}

    {% block other_scripts_block %}
    {% endblock %}
</body>
</html>