<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="../static/first_app/css/index.css">
    <link rel="stylesheet" href="../static/first_app/css/comon.css">
</head>
<body>
    <section class="main_section">
        <div class="left_panel glass-block">
            <div class="image"></div>

            <div class="navigation">
                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Сферы жизни</h1>
                </div>

                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Расписание на неделю</h1>
                </div>

                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Все задания</h1>
                </div>

                <div class="navigation_button glass-block">
                    <h1 class="smaller_text">Активновсти</h1>
                </div>
            </div>
        </div>
        <div class="right_panel glass-block">
            <div class="block glass-block">
                <h1 class="button_text">Обучение</h1>
            </div>

            <div class="block glass-block">
                <h1 class="button_text">Свободное время</h1>
            </div>

            <div class="block glass-block">
                <h1 class="button_text">Спорт</h1>
            </div>

            <div class="block glass-block">
                <h2>+</h2>
            </div>
        </div>
    </section>
</body>
</html>